<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <h1 class="my-4">Liste des employés</h1>
    <div th:if="${employees.isEmpty()}">
        <p>Aucun employé n'a été trouvé.</p>
    </div>
    <table class="table table-striped" th:if="${not employees.isEmpty()}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>